.fib,
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: ' ';
}
.fi.fis {
  width: 1em;
}

.fi-gb {
  background-image: url(/node_modules/flag-icons/flags/4x3/gb.svg);
}
.fi-gb.fis {
  background-image: url(/node_modules/flag-icons/flags/1x1/gb.svg);
}

.fi-it {
  background-image: url(/node_modules/flag-icons/flags/4x3/it.svg);
}
.fi-it.fis {
  background-image: url(/node_modules/flag-icons/flags/1x1/it.svg);
}
